{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'navigation-breadcrumbs.css' | asset_url | stylesheet_tag }}

<style>
  .navigation-breadcrumbs {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .navigation-breadcrumbs::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-28px);
  }

  .navigation-breadcrumbs::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(28px);
  }

  .custom-flex-container {
    display: flex;
  }

  .custom-flex-container > .rte {
    padding-left: 20px;
  }

  .custom-flex-container img {
    width: 100%;
  }
  
  .custom-flex-container > div:nth-child(1),
  .custom-flex-container > .rte {
    width: 50%;
  }

  .custom-flex-container + .rte {
    padding-top: 20px;
  }

  @media screen and (max-width: 749px) {
    .custom-flex-container {
      flex-direction: column;
    }

    .custom-flex-container > div:nth-child(1) {
      width: 100%;
    }

    .custom-flex-container > .rte {
      display: none;
    }
  }
</style>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign designer = page.metafields.custom.designer.value %}

<div class="navigation-breadcrumbs">
  <nav class="breadcrumb page-width" role="navigation" aria-label="breadcrumbs">
    <a href="{{ routes.root_url }}" title="Home">Home</a>
    <span aria-hidden="true">/</span>
    <a href="{{ section.settings.directory_page.url }}">{{ section.settings.directory_page.title }}</a>
    <span aria-hidden="true">/</span>
    <span>{{ page.title }}</span>
  </nav>
</div>
<div class="page-width section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0">
    {{ designer.name }}
  </h1>
  <div class="custom-flex-container">
    <div>
      <img src="{{ designer.photo.value | image_url: width: 600 }}" alt="">
    </div>
    <div class="rte">
      {{ designer.description | metafield_tag }}
    </div>
  </div>
  <div class="rte">
    {{ page.content }}
  </div>
  <div>

  </div>
</div>  

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "page",
      "id": "directory_page",
      "label": "The directory page to link to"
    }
  ]
}
{% endschema %}
